<%- include('partials/header'); %> 

<h1>Contact</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt facilis quos ipsum deleniti molestiae tempora dolore quis nisi alias error architecto obcaecati rem qui minima sit nesciunt cupiditate rerum exercitationem maiores, nulla nostrum blanditiis debitis porro. Reprehenderit quos placeat neque odio voluptatibus ipsa minus eveniet fuga quas. Nihil laborum, ratione autem ex rem cumque reprehenderit, cupiditate velit quos magni distinctio, blanditiis consequuntur! Eveniet repellat perferendis placeat sit aliquid quidem, delectus quos rerum ratione hic, aut ullam libero ducimus repellendus dignissimos eligendi alias laborum? Numquam, nesciunt laudantium. Itaque et officia, debitis possimus, veritatis saepe at corrupti, ea expedita accusantium autem magni!</p>

<div class="my-5">
    <h3>Follow Us</h3>
    <div class="pb-3">
        <a href=<%= data.instagram %> >Instagram</a>
    </div>
    <div class="pb-3">
        <a href=<%= data.linkedin %> >LinkedIn</a>
    </div>
</div>


<%- include('partials/footer'); %> 